{% extends 'base.html' %} 

{% block head %} 

{% endblock %} 

{% block content %} 
<div id="container" style="width: 50%;">
    <canvas id="population-chart" data-url="/chart/"></canvas>
</div>
<script>

$(function () {

var $populationChart = $("#population-chart");
$.ajax({
  url: $populationChart.data("url"),
  success: function (data) {

    var ctx = $populationChart[0].getContext("2d");

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.labels,
        datasets: [{
          label: 'Population',
          backgroundColor: 'blue',
          data: data.data
        }]          
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Population Bar Chart'
        }
      }
    });

  }
});

});
</script>

{% endblock %} 

